<h1> Puts your csv file up in here </h1>

<form action="/" method="post" enctype="multipart/form-data">
  <input type="file" name="file">
  <br/>
  <input type="submit" name="Show me that shit">
  
</form>