<html>
  <head>
    <title> Make some stories! </title>
    <style>
      body {
        text-align: center;
        background: #000;
      }
      h1 {
        font: bold 50px Georgia, serif;
        margin: auto;
        color: #fff;
        letter-spacing: 2px;
        margin-bottom: 50px;
      }
      h1 span {
        color: red;
      }
      form {
        width: 500px;
        background-color: #fff;
        padding: 50px;
        margin: auto;
      }
      form input {
        margin-bottom: 20px;
      }
      form input.submit {
        font-size: 30px;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>