<table class="container">
  <% @stories.in_groups_of(2, false) do |stories| %>
    <tr>
      <% stories.each do |story| %>
        <td>
          <table class="story">
            <tr class="header">
              <th class="project">
                <%= story[:project] %>
              </th>
              <th class="type">
                <%= story[:type] %>
              </th>
              <th class="estimate">
                <%= story[:estimate] %>
              </th>
            <tr>
            <tr>
              <td colspan="3" class="story">
                <%= story[:story] %>
              </td>
            </tr>
            <tr>
          </table>
        </td>
      <% end %>
    </tr>
  <% end %>
<table>
